practicas/p14/serviciod.dtd

<!ELEMENT CatalogoVOD (cuenta, contenido)>
<!ELEMENT cuenta (perfil+)>
<!ATTLIST cuenta correo CDATA #REQUIRED>

<!ELEMENT perfil EMPTY>
<!ATTLIST perfil
    usuario CDATA #REQUIRED
    idioma CDATA #REQUIRED>

<!ELEMENT contenido (peliculas, programas)>
<!ELEMENT peliculas (genero+)>
<!ELEMENT programas (genero+)>

<!ELEMENT genero (titulo+)>
<!ATTLIST genero
    nombre CDATA #REQUIRED>

<!ELEMENT titulo EMPTY>
<!ATTLIST titulo
    nombre CDATA #REQUIRED
    duracion CDATA #REQUIRED>
